:root {
  --primary-text-color:  #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}



body {
background-color: #E5E5E5;

}

.studio-link {
  color: #2196f3;
}
.studio-link:hover,
.studio-link:focus {
  color: red;
}
}
.studio-link:active {
  color: #472b7a;
}
.Studio:active {
  color: #472b7a;
}
ul {
  list-style-type: none;
}
.link {
  color: var(--title-text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.section {
  color: var(--primary-text-color);
}
.section-title {
  color: var(--title-text-color) ;
}
.hero-title {
  color: #ffffff;
}
